<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="serviceSigningCertificateSubjectName" value="MF - Dozorová část AISG – Playground" />
    <add key="clientSigningCertificateSubjectName" value="hranice.cz" />
    <add key="serviceDns" value="api-pg.hazard.mfcr.cz" />
    <add key="icovcp" value="123456" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\Temp\TracingAndLogging-client.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="65535000"/>
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="AisgPortImplServiceSoapBinding">
          <transactionFlow />
          <security authenticationMode="MutualCertificate"
                  enableUnsecuredResponse="true"
                  requireDerivedKeys="true"
                  includeTimestamp="false"
                  messageProtectionOrder="EncryptBeforeSign"
                  keyEntropyMode="ClientEntropy"
                  messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                  requireSignatureConfirmation="false"
                  canRenewSecurityContextToken="true"
                  defaultAlgorithmSuite="Basic128Sha256Rsa15"
                  allowSerializedSigningTokenOnReply="true"
                  requireSecurityContextCancellation="false">

            <secureConversationBootstrap/>
            <localClientSettings detectReplays="false"/>
          </security>
          <textMessageEncoding messageVersion="Soap11" writeEncoding="utf-8"/>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api-pg.hazard.mfcr.cz/rovo/v1"
                behaviorConfiguration="certificate"
                binding="customBinding"
                bindingConfiguration="AisgPortImplServiceSoapBinding"
                contract="Service.AisgPort"
                name="AisgPortImplPort">
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="certificate">
          <clientCredentials>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>